/* Effect everything 
* {
    margin: 0;
    padding: 0;
} */

/* Effect the svg images */
#car_svg {
  /* Position */
  position: fixed;
  left: -1%;
  top: 1%;
  
  /* Size */
  width: 105%;
}

/* Background car interior */
#car_interior {
  /* Position */
  position: fixed;
  left: 10%;
  top: 5%;
  z-index: -1;
  
  /* Size */
  height:90%;
  width:80%;
  
  /* Border */
  border: 3px solid #000000;
}

/* Effects body */
body {
  background-color: #daf5f4;
}