/* Everything */
* {
  box-sizing: border-box;
  margin: 10;
  padding: 10;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}

#placedImage {
  position: absolute;
  top: 30px;
  left: 30px;
}

#canvas {
  height: 1080px;
  width: 1080px;
  background-image : url('localhost:3001/image_uploads/tesla_model_3_int.png')
  /*  */
}
