/* Effect everything 
* {
    margin: 0;
    padding: 0;
} */

/* Effect the svg images */
#old_climate_svg, #radio_svg {
  float: left;
  width: 45%;
  padding: 5px;
}

/* Effects body */
body {
  background-color: lightblue;
}
